<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="10">
<listeners>
  <listener class-name="framework.testng.SGTestNGListener" /> 
</listeners>
<test name="allXenTests">
	<packages>
		<package name="test.gsm.component.machines.xen" />
		<package name="test.gsm.component.rebalancing.xen" />
		<package name="test.gsm.datagrid.eager.xen" />
		<package name="test.gsm.datagrid.manual.cpu.xen" />
		<package name="test.gsm.datagrid.manual.memory.xen" />
		<package name="test.gsm.datagrid.manual.advanced.xen"/>
		<package name="test.gsm.stateful.manual.memory.xen" />
		<package name="test.gsm.stateless.eager.xen" />
		<package name="test.gsm.stateless.manual.cpu.xen" />
		<package name="test.gsm.stateless.manual.memory.xen" />
		<package name="test.gsm.stateless.manual.drives.xen" />
		<package name="test.usm.xen"/>
	</packages>
</test>

</suite>