<!DOCTYPE sutie SYSTEM "http://testng.org/testng-1.0.dtd"> 
<suite name="Services Recipes">
	<test name="Local Tests">
		<packages>
			<package name="test.webui.recipes.services">
				<include name="ActiveMqServiceTest"></include>
				<include name="CassandraServiceTest"></include>
			</package>
		</packages>
	</test>
</suite>