<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Template0" verbose="1">
    <packages>
        <package name="">
            <include name=""></include>
            <exclude name=""></exclude>
        </package>
    </packages>
	<listeners>
		<listener class-name="org.cloudifysource.quality.iTests.framework.testng.SGTestNGListener" />
		<listener class-name="org.cloudifysource.quality.iTests.framework.testng.SGTestNgSuiteSplitter" />
		<!-- <listener class-name="org.uncommons.reportng.JUnitXMLReporter" /> -->
		<listener class-name="org.cloudifysource.quality.iTests.framework.testng.report.TestNgReporterImpl" />
	</listeners>
</suite>